<div class="imgPopUp">

    <!-- Hotspots clicáveis -->
    <div class="imgService" data-popup="0"></div>
    <div class="imgService" data-popup="1"></div>
    <div class="imgService" data-popup="2"></div>
    <div class="imgService" data-popup="3"></div>

    <!-- Pop-ups -->
    <div class="popUp">
        <p>Serviço 1</p>
        <p>esta é uma breve descrição do serviço 1 esta é uma breve descrição do serviço 1 esta é uma breve descrição do
            serviço 1 esta é uma breve descrição do serviço 1 esta é uma breve descrição do serviço 1 esta é uma breve
            descrição do serviço 1</p>
        <img class="closeBtn" src="/src/assets/icons/closePopUp.svg" alt="X para sair do pop-up">
    </div>
    <div class="popUp">
        <p>Serviço 2</p>
        <p>esta é uma breve descrição do serviço 2esta é uma breve descrição do serviço 2</p>
        <img class="closeBtn" src="/src/assets/icons/closePopUp.svg" alt="X para sair do pop-up">
    </div>
    <div class="popUp">
        <p>Serviço 3</p>
        <p>esta é uma breve descrição do serviço 3</p>
        <img class="closeBtn" src="/src/assets/icons/closePopUp.svg" alt="X para sair do pop-up">
    </div>
    <div class="popUp">
        <p>Serviço 4</p>
        <p>esta é uma breve descrição do serviço 4</p>
        <img class="closeBtn" src="/src/assets/icons/closePopUp.svg" alt="X para sair do pop-up">
    </div>
</div>