@import url(../../../styles/global.css);

button {
    border: none;
    background: none;
}

.physical-rack {
    display: flex;
    flex-direction: column;
    margin: 1%;

    width: 97%;

    gap: 15px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
}

.expanded-dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rotated-button {
    transform: rotate(180deg);
}

