/* Ryan */
@import url(/src/styles/global.css);
/* Ryan */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 30px;
    background-color: var(--red-v700);
    transition: gap 0.4s ease;
    /* suaviza o gap */
}

header.noGap {
    gap: 0px;
}

header>.imagesWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: gap 0.4s ease;
}

.imagesWrap>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Menu fechado por padrão */
#links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* Quando aberto */
#links.open {
    max-height: 300px;
    /* altura suficiente para caber o conteúdo */
}

nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

nav>ul>li>a {
    font-size: 1rem;
    color: var(--grey-c100);
    text-decoration: none;
}
/* Nikollas */

main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: 800;
}

.titulo-card {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 600;
}

.banner {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

.card p>ul>li {
   font-size: 22px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.card ul {
  margin: 0 20px 25px;
}

.doc-link {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  color: (var(--grey-c100));
  margin-bottom: 20px;
  text-decoration: underline;
}

.diagram {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}
/* Services Section */
/* Ryan */
.services-documentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 32px;
}
.services-documentation > h2 {
  padding-top: 20px;
  width: 550px;
  border-top: 2px solid var(--grey-c500);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: var(--grey-c1000);
}

.service-documentation { 
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown > h3 {
  font-size: 36px;
  font-weight: 500;
  color: var(--grey-c1000);
}

img.none {
  display: none;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.serviceContent.open {
  max-height: 2000px; /* valor grande suficiente para caber o conteúdo */
  opacity: 1;
}

.serviceContent > p {
  font-size: 24px;
  font-weight: 400;
}

.serviceContent:last-child {
  align-items: flex-end;
}

.serviceContent > a {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 300;
    color: var(--grey-c700);
 }
 /* End service section */