@import url(/src/styles/global.css);

/* colaborador Ryan was here */
html {
  /* adicionei um scroll suave */
  scroll-behavior: smooth;
}

/* colaborador Caue was here  */
/* ---------- Header ---------- */
header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  gap: 30px;
  width: 100%;
  background-color: var(--red-v700);
  transition: gap 0.4s ease;
  /* suaviza o gap */
}

header.noGap {
  gap: 0px;
}

header>.imagesWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: gap 0.4s ease;
}

.imagesWrap>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Menu fechado por padrão */
#links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* Quando aberto */
#links.open {
  max-height: 300px;
  /* altura suficiente para caber o conteúdo */
}

nav>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

nav>ul>li>a {
  font-size: 1rem;
  color: var(--grey-c100);
  text-decoration: none;
}

/* ---------- Header ---------- */
/* ---------- Main ---------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titulo {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 800;
}

.titulo-card {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--grey-c1000);
}

.banner {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

.card>p,
ul>li {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-c700);
}

.card p>ul>li {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card ul {
  margin: 0 20px 25px;
}

.doc-link {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  color: (var(--grey-c900));
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.diagram {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

/* ---------- Main ---------- */
/* colaborador Bernardo was here */
/* ---------- Section Services and Documentation ---------- */

.services-documentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.services-documentation>h2 {
  padding-top: 20px;
  width: 100%;
  border-top: 2px solid var(--grey-c500);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--grey-c1000);
}

.service-documentation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown>img {
  max-height: 1200px;
}

.dropdown>h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--grey-c1000);
}

img.none {
  display: none;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

}

.serviceContent.open {
  max-height: 2000px;
  /* valor grande suficiente para caber o conteúdo */
  opacity: 1;
}

.serviceContent>p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-c900);
}

.serviceContent:last-child {
  align-items: flex-end;
}

.serviceContent>a {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 300;
  color: var(--grey-c700);
}

/* ----------- Section Services and Documentation ----------*/
/* ---------- Footer ---------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 30px;
  background-color: var(--red-v700);
}

footer>.backInPage>h2 {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 600;
  color: var(--grey-c100);
}

footer>nav>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

footer>nav>ul>li>a {
  font-size: 16px;
  font-weight: 300;
  color: var(--grey-c100);
}

.contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.contatos>h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--grey-c100);
}

.socialMedias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer>.contact>.acesseTambem>h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-c100);
}

footer>.contact>.acesseTambem>a {
  font-size: 16px;
  font-weight: 300;
  color: var(--grey-c100);
  text-decoration: underline;
}

/* ---------- Footer ---------- */
/* colaborador Nikollas was here */
  /* ---------- main ---------- */
  main {
    /* max-width: 900px; */
    margin: 0 auto;
  }

  .titulo {
    text-align: center;
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--grey-c1000);
  }
  
  .titulo-card {
    font-size: 48px;
    color: var(--grey-c1000);
  }

  .card>p, ul>li {
    font-size: 24px;
    font-weight: 400;
    color: var(--grey-c700);
  }

  .banner {
    margin-bottom: 20px;
  }

  .doc-link {
    font-size: 24px;
    font-weight: 300;
    color: var(--grey-c900);
    /* Alteração de cor */
  }

  /* ---------- main ---------- */
  /* ---------- Services ans Documentation Section ---------- */
  /* colaborador Ryan was here */
  .services-documentation {
    padding: 30px 32px;
  }

  .services-documentation>h2 {
    width: 550px;
    font-size: 48px;
    font-weight: 600;
  }

  .dropdown>h3 {
    font-size: 36px;
    font-weight: 500;
    color: var(--grey-c1000);
  }

  .serviceContent>p {
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-c900);
  }

  .serviceContent>a {
    font-size: 24px;
  }

  /* ---------- Services ans Documentation Section ---------- */
  /* ---------- Footer ----------*/

  footer>.backInPage>h2 {
    margin-bottom: 12px;
    font-size: 48px;
    color: var(--grey-c100);
  }

  footer>.backInPage>nav>ul>li>a {
    font-size: 24px;
    color: var(--grey-c100);
    font-weight: 300;
  }

  .contatos>h3 {
    font-size: 36px;
  }

  .acesseTambem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
  }

  footer>.contact>.acesseTambem>h4 {
    font-size: 30px;
    color: var(--grey-c100);
  }

  footer>.contact>.acesseTambem>a {
    font-size: 24px;
    color: var(--grey-c100);
    font-weight: 300;
  }

  /* ---------- Footer ----------*/
/* Tablet */
@media (min-width: 768px) {
  main {
    margin: 0 auto;
  }

  .titulo {
    text-align: center;
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--grey-c1000);
  }

  .titulo-card {
    font-size: 48px;
    color: var(--grey-c1000);
  }

  .card > p,
  ul > li {
    font-size: 24px;
    font-weight: 400;
    color: var(--grey-c700);
  }

  .doc-link {
    font-size: 24px;
    font-weight: 300;
    color: var(--grey-c900); /* sem parênteses */
  }

  .services-documentation {
    padding: 30px 32px;
  }

  .services-documentation > h2 {
    width: 550px;
    font-size: 48px;
    font-weight: 600;
  }

  .dropdown > h3 {
    font-size: 36px;
    font-weight: 500;
    color: var(--grey-c1000);
  }

  .serviceContent > p {
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-c900);
  }

  .serviceContent > a {
    font-size: 24px;
  }

  footer > .backInPage > h2 {
    margin-bottom: 12px;
    font-size: 48px;
    color: var(--grey-c100);
  }

  footer > .backInPage > nav > ul > li > a {
    font-size: 24px;
    color: var(--grey-c100);
    font-weight: 300;
  }

  .contatos > h3 {
    font-size: 36px;
  }

  .acesseTambem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > .contact > .acesseTambem > h4 {
    font-size: 30px;
    color: var(--grey-c100);
  }

  footer > .contact > .acesseTambem > a {
    font-size: 24px;
    color: var(--grey-c100);
    font-weight: 300;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  main {
    padding: 30px 40px;
  }

  .titulo {
    font-size: 96px;
    font-weight: 700;
  }

  .card > h2 {
    font-size: 60px;
    font-weight: 500;
    color: var(--grey-c1000);
  }

  .card > p,
  .card > li {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-c700);
  }

  .card > img {
    display: none;
  }

  .card > a {
    font-size: 18px;
    font-weight: 300;
    color: var(--grey-c900);
  }

  .services-documentation > h2 {
    width: 100%;
    font-size: 60px;
    color: var(--grey-c1000);
  }

  .dropdown {
    cursor: pointer;
  }

  .dropdown > h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-c1000);
  }
  
  .serviceContent > p {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey-c700);
  }
  
  .serviceContent > p {
    font-size: 18px;
    font-weight: 300;
    color: var(--grey-c700);
  }


  footer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: stretch;
  }

  .backInPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  footer > .backInPage > h2, .contact > .contatos > h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--grey-c100);
  }

  footer > .backInPage > nav > ul > li > a {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey-c100);
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .backInPage > h2 {
    color: var(--grey-c100);
    font-size: 20px;
  }


  .contatos > .socialMedias > a img {
    width: 24px;
    height: 24px;
  }

  .socialMedias {
    transform: scale(1);
  }

  footer > .contact > .acesseTambem > h4 {
    font-size: 20px;
    color: var(--grey-c100);
  }

      footer > .contact > .acesseTambem > a {
        font-size: 16px;
        font-weight: 400;
        color: var(--grey-c100);
      }


  .contact > .acesseTambem > a {
    font-size: 16px;
    color: var(--grey-c100);
  }
}
