@import url("./variables.css");
@import url("./reset.css");

html {
    font-family: var(--font-family-MS);
    font-style: normal;
    scroll-behavior: smooth;

    /* Coloquem o link da fonte no html de vocês, renderiza melhor colocando direto no hrml
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
     */
}

h1 {
    font-size: var(--text-5xl);
    font-weight: 800;
}

h2 {
    font-size: var(--text-3xl);
    font-weight: 600;
}

h3 {
    font-size: var(--text-xl);
    font-weight: 500;
}

p {
    font-size: var(--text-base);
    font-weight: 400;
}

a {
    font-size: var(--text-base);
    font-weight: 300;
}

a[href="#"] {
    text-decoration: underline;
}

@media (min-width: 747px) {
    h1 {
        font-size: var(--text-7xl);
    }

    h2 {
        font-size: var(--text-5xl);
    }

    h3 {
        font-size: var(--text-4xl);
    }

    p,
    a {
        font-size: var(--text-lg);
    }

}

@media (min-width: 1280px) {
    h1 {
        font-size: var(--text-7xl);
    }

    h2 {
        font-size: var(--text-6xl);
    }

    h3 {
        font-size: var(--text-4xl);
    }

    p,
    a {
        font-size: var(--text-lg);
    }
}

html {
    transition: font-size 0.3s ease-in-out;
}

.accessibility {
    z-index: 2147483646;

    position: fixed;
    left: 0;
    top: 55%;

    margin: 10px;
}

#overlay {
    z-index: -1;

    display: none;
    position: fixed;

    width: 100vw;
    height: 100vh;

    opacity: 0;
}

.accessibility-icon {
    cursor: pointer;

    padding: 5px;

    border-radius: 8px;
    background-color: var(--red-v600) !important;
}

.accessibility-open {
    position: fixed;
    top: 30%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 450px;

    filter: drop-shadow(1px 1px 2px #000);
    border-radius: 10px;
    background-color: var(--grey-c100);
}

.accessibility-open img {
    cursor: pointer;
}

.accessibility h4 {
    font-size: 16px;
}

.accessibility h5 {
    font-size: 18px;
}

.tittle-wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 16px;

    border-radius: 10px 10px 0 0;
    color: var(--grey-c100);
    background-color: var(--red-v700);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.btn-grid> :first-child {
    width: 100%;
    grid-column: 1 / -1;
}

.btn-grid button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    color: var(--grey-c100);
    background-color: var(--red-v700);
}

.btn-active {
    color: var(--grey-c1000) !important;
    background-color: var(--grey-c100) !important;
}

.btn-grid svg {
    width: 24px;
    height: 30px;
    fill: var(--grey-c100);
}

.btn-grid #high-contrast svg,
.btn-grid #lower-contrast svg {
    padding: 2px;
    border-radius: 5px;    
}

.font-adjust-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 0 0 10px 10px;
    background-color: var(--red-v700);
}

.bar {
    position: relative;

    width: 80%;
    height: 25px;

    border-radius: 10px;
    background-color: var(--grey-c100);
}

.bar::before {
    content: "";
    position: absolute;

    width: var(--length, 10%);
    height: 100%;

    border-radius: inherit;
    background-color: var(--grey-c400);
    transition: all 0.5s ease;
}

.monochromatic {
    filter: grayscale(100%);
}

.high-saturation {
    filter: contrast(200%);
}

.low-saturation {
    filter: contrast(50%);
    background-color: var(--grey-c200);
}