@import url(/src/styles/global.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* SERVICES */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 91%;
}


/* Cauê esteve aqui :) */
header {
    background-color: var(--red-v600);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 105px;

}

header .left-wrapper {
    display: flex;
    width: 43%;
    height: auto;
    margin-top: 21px;
    margin-left: 10px;
}

header .right-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 28px;
}

header .nav-links {
    display: none;
}

header .hamburger {
    color: var(--grey-c100);
    cursor: pointer;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: 100%;
}

main h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: var(--grey-c1000);
}

main img {
    width: 91%;
}

main .container-box {
    border: 1px solid var(--grey-c300);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 91%;
    margin-bottom: 20px;
}

main .container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 91%;
    margin: 22px 20px;
}

main .container-box img {
    width: 91%;
    margin-bottom: 22px;
}

main .container-box .container-text .technical-doc {

    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    cursor: pointer;
}

main .container-text p {
    text-align: start;
    width: 91%;
    color: var(--grey-c700);
}






/* Title Service */
.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83%;
    gap: 20px;
}

.line {
    background: var(--grey-c1000);
    height: 0.9px;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

/* Card Dropdown */
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.card-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;

}

.title-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.2s;
}

.title-dropdown:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.title-dropdown h3 {
    font-size: 20px;
    font-weight: 500;
}

.title-dropdown .click-arrow {
    height: 24px;
    width: auto;
    transition: transform 0.2s;
    transition: max-height 0.5s;
}

.title-dropdown .girar-seta {
    transition: transform 0.2s;
    transform: rotate(180deg);
}

.info-dropdown {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-dropdown.open {
    display: flex;
    max-height: 500px;
}

.info-dropdown img {
    width: 247px;
    height: auto;
}

.info-dropdown .direction {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.info-dropdown .direction a {
    color: var(--grey-c400);
}

/* FOOTER */
footer {
    background-color: var(--red-v600);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: var(--grey-c100);
}

footer a {
    color: var(--grey-c100);
    transition: transform 0.7s;
}

footer a:hover {
    transform: scale(1.1);
    font-weight: 600;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 70%;
    gap: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

nav h2 {
    font-weight: 600;
    font-size: 30px;
}

nav a {
    text-decoration: none;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.footer-contact h2 {
    font-weight: 600;
    font-size: 24px;
}

.footer-contact img {
    transition: transform 0.7s;
}

.footer-contact img:hover {
    transform: scale(1.2);
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.footer-links h2 {
    font-weight: 600;
    font-size: 20px;
}