<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card</title>
    <link rel="stylesheet" href="flip-card.css">
    <link rel="stylesheet" href="../../styles/global.css">
    <script src="flip-card.js" defer></script>
</head>
<body>
    
    <div class="card-wrapper">
                <div class="card-container">
                    <div class="flip-card">
                        <div class="card-front">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <img src="card-server.svg" alt="">
                                <h4>Virtualização</h4>
                            </div>
                        </div>  

                        <div class="card-back">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <p>Virtualização: Capacidade de simular computadores dentro do sistema, permitindo a
                                execução de múltiplos
                                sistemas operacionais, como Windows ou Linux, em um único hardware.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="flip-card">
                        <div class="card-front">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <img src="card-server.svg" alt="">
                                <h4>Firewall</h4>
                            </div>
                        </div>

                        <div class="card-back">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <p>Segurança e Gestão da Rede: Possui um sistema próprio para filtrar o tráfego (o que
                                    entra e sai da
                                    rede), essencial para impedir invasões e garantir que os dados trafeguem de forma
                                    segura.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="flip-card">
                        <div class="card-front">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <img src="card-server.svg" alt="">
                                <h4>Acesso Remoto</h4>
                            </div>
                        </div>

                        <div class="card-back">
                            <img src="flip-card-icon.svg" alt="" class="flip-icon">
                            <div class="content-wrapper">
                                <p>Acesso Remoto: Permite acessar e gerenciar um computador ou equipamento através da rede,
                                    sem a
                                    necessidade de estar fisicamente na frente dele, de forma segura e eficiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>