@import url(/src/styles/global.css);

/* Cauê esteve aqui :) */
header {
    background-color: var(--red-v600);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 105px;
   
}

header .left-wrapper {
    display: flex;
    width: 163px;
    height: 45px;
    margin-top: 21px;
    margin-left: 10px;
}

header .right-wrapper {

    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 28px;
}

header .nav-links {
    display: none;
}

header .hamburger {
    color: var(--grey-c100);
    cursor: pointer;
}

main {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: 100%;
}

main .main-header-title h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: 700;
    color: var(--grey-c900);
}

main .main-header-title .image-server {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* main .main-header-title .image-server img {
    width: 100%;
    height: auto;
} */

main .container-box {
    width: 90%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 91%;
}

main.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}