.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-container {
    position: relative;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
}

.flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem 1rem;

    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
}

.card-front .content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-front .content-wrapper img {
    width: 180px;
    height: 180px;
}

.card-back {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem 1rem;

    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card-back .content-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.flip-icon {
    justify-self: end;
    align-self: end;
}

@media(min-width: 700px) {
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    
    .card-container {
        width: 250px;
        height: 320px;
    }
}

@media(min-width: 1280px) {
    .card-container:hover {
        transform: translateY(-5px);
    }
}