body {
    font-family: Montserrat, sans-serif;
}

.body1 {
    color: var(--grey-c700, #3B3B3B);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.body2 {
    color: var(--grey-c700, #3B3B3B);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

header {
    background: var(--red-v700, #E30613);
}

.header-content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    height: 73.254px;
    padding: 14px 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.menu-options {
    display: none;
    opacity: 0;
}

a {
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--red-v200);
}

a:active {
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    margin: 8px;
}

main {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

}

.main-content {
    display: flex;
    padding: 22px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid var(--grey-c300, #B6B6B6);
}

.main-content > h2{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.main-title {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid var(--grey-c300, #696969);
    background: #FFF;

    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

.dropdown-header {
    display: flex;
    padding: 12px 18px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    padding: 0 18px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease, opacity 0.2s ease, padding-bottom 0.2s ease;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown.open {
    background-color: var(--grey-c100);
}

.dropdown.open .dropdown-content {
    max-height: 500px;
    opacity: 1;
    padding-bottom: 12px;
}

.dropdown.open .dropdown-arrow {
    transform: rotate(180deg);
}


footer{
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    background: var(--red-v700, #E30613);
}

footer a {
    color: #FAFAFA;
}

footer h3 {
    color: #FAFAFA;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-nav a {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-wrapper {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.icons-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.icons-wrapper a {
    padding: 4px;
    border-radius: 4px;

    transition: all 0.2s ease-in-out;
}

.icons-wrapper a:hover {
    background-color: var(--red-v600);
}

.icons-wrapper a:active {
    background-color: var(--red-v600)
}

.access-too-wrapper a {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
    text-decoration-line: underline;
}

@media (min-width: 835px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2.5rem;
}

.card-container {
    position: relative;
    width: 250px;
    height: 320px;
}

.flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-container:hover .flip-card{
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 1rem;

    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
    padding: 0 1rem;

    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
